body {
    background-image: linear-gradient(to bottom right, rgb(141, 159, 236), rgb(192, 124, 192));
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


header > h1 {
    text-align: center;
    margin-top: 60px;
}

section {
    width: 450px;
    border: 3px solid white;
    border-radius: 8px;
    margin: 10px;
}

html, body {
    height: 100%;
}

section h2 {
    color: rgb(202, 121, 121);
    padding: 5px 10px;
}

section:first-of-type {
    border: 4px dotted rgb(138, 86, 160);
}

input[type="checkbox"]:checked + span::after {
    content: "✨";
    margin-left: 10px;
}

#done input[type="checkbox"]:checked + span::after {
    content: "💟";
    margin-left: 10px;
}

input[type="checkbox"]:hover {
    outline: 2px solid rgb(183, 247, 141);
}

#watching-movie {
    width: 300px;
    margin: auto;
    padding: 10px;
    display: block;
}

#inprogress {
    border: 4px dotted rgb(184, 100, 100);
}

#inprogress h2 {
    color: rgb(242, 135, 135);
}

#done {
    border: 4px dotted rgb(145, 227, 145);
}

#done h2 {
    color: rgb(145, 227, 145);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(219, 202, 179, 0.65);
}

.inprogress li:nth-child(odd) {
    background-color: rgba(251, 154, 198, 0.594);
}

.done li:nth-child(odd) {
    background-color: rgba(175, 249, 181, 0.616);
}

.star-struck::after {
    content: "🤩";
    margin-left: 5px;
    font-size: 25px;
}

.heart-eyes::after {
    content: "😍";
    margin-left: 5px;
    font-size: 25px;
}

.sunglasses::after {
    content: "😎";
    margin-left: 5px;
    font-size: 25px;
}